
div.posts {
  padding: 40px 15px;
  text-align: center;
  margin-left: 200px;
  margin-right:200px;
}

.show_comments, .show_make_comment
{
	font-size: 9pt;
}



div.makeComment
{
	display:none;
}
div.comments
{
	display: none;
}

div.post
{
	text-align: left;
}

.post-meta
{
	margin-bottom: 20px;
	color:#999;
}

div.comment_box
{
	width: 100%;
}

div.comment:not(:last-child)
{
	border-bottom: solid 1px #999;
}

div.comment_text_box
{
	/*border: solid 1px black;*/
	float: left;
	position: relative;
	padding: 10px;
	padding-top: 20px;
	font-size: 10pt;
	width: 70%;
}
div.comment_date
{
	position : absolute;
	top: 5px;
	left: 5px;
	color:#999;
	font-size: 7pt;
}

div.user_box
{
	float: left;
	width: 120px;
	padding: 10px;
	border-right: solid 1px #999;
	font-size: 9pt;
	margin-bottom: 5px;
	margin-top: 5px;
}

div.user_box > span
{
	font-size: 7pt;
}