<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'posts/bootstrap-3.2.0-dist/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'posts/style.css' %}">
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
			</div>
		</div>
		<div class="container">
			<div class="posts">
				<h1>Posts</h1>
				<div>
					{% for post in latest_post_list %}
						<div class="post">
							<h3><a href="/posts/{{post.id}}/">{{post.title}}</a></h3>
							<p class="post-meta">{{post.pub_date}}</p>
							<p>{{post.post}}</p>
							<hr>
							<a href="" class="show_make_comment">Post a comment</a>
							<div class="makeComment">
								<br>
								<form action="{{post.id}}/comment/" method="post" class="submit_comment">
									{% csrf_token %}
									<input type="text" name="name" placeholder="Username"><br><br>
									<input type="email" name="email" placeholder="E-mail"><br><br>
									<textarea name="comment_text"></textarea><br><br>
									<input type="submit" value="Comment">
								</form>
								<br>
							</div>
							<a href="" class="show_comments">Show Comments</a>
							<div class="comments">
								<br>
								{% if comments_list %}
									{% for comm in comments_list %}
										{% if comm.post == post %}	
											<div class= "comment">
												<div class="user_box">
													{{comm.comment_name}}
													<span>{{comm.comment_email}}</span>
												</div>
												<div class="comment_text_box">
													<div class="comment_date">
														{{comm.comment_date}}
													</div>
													{{comm.comment_text}}<br>
												</div>
												<div style="clear:both"></div>
											</div>											
										{% endif %}
									{% endfor %}
								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		
		{% load staticfiles %}
		<script src="{% static 'posts/jquery-1.11.1.min.js' %}"></script>
		<script src="{% static 'posts/bootstrap-3.2.0-dist/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'posts/script.js' %}"></script>
	</body>
</html>